*{
    margin: 0%;
    padding: 0%;
}

#Footer{
    background-color: rgb(15, 24, 24);
    color: white;
    margin-top: 20px;
    padding: 2rem;
}

.red-border{
    border: 5px groove red;
    color: red;
}
.green-border{
    border: 5px groove green;
    color : green;
}
@media screen and (max-width: 580px){
    body{
        font-size: 12px;
        background-color: antiquewhite;
    }
}